<div class="player">
  <form name="playerForm">
    <div class="player-rows">

      <div class="player-row visualizer-bars">
        <canvas #barVisCanvas width="{{CANVAS_WIDTH}}" height="{{CANVAS_HEIGHT}}"></canvas>
      </div>

      <div class="player-row visualizer-sin">
        <canvas #sinVisCanvas width="{{CANVAS_WIDTH}}" height="{{CANVAS_HEIGHT}}"></canvas>
      </div>

      <div class="player-row play-pause">
        <button class="play btn btn-primary" (click)="play()" [disabled]="loading" *ngIf="!isPlaying()">
          <i class="fa fa-play"></i>
          Play
        </button>

        <button class="pause btn btn-primary" (click)="pause()" *ngIf="isPlaying()">
          <i class="fa fa-pause"></i>
          Pause
        </button>
      </div>

      <div class="player-row volume-container">
        <label for="volumeRange">Volume</label>
        <input
          type="range"
          id="volumeRange"
          name="volume"
          class="volume"
          min="0"
          max="1"
          step="0.01"
          [(ngModel)]="volume"
          (change)="setVolume(volume)"
        />
      </div>

      <div class="player-row equalizer-container">
        <div>Equalizer</div>

        <div class="equalizer-presets">
          <button class="btn btn-secondary" (click)="setEqFlat()">Flat</button>
          <button class="btn btn-secondary" (click)="setEqRadioOnTv()">Radio on TV</button>
          <button class="btn btn-secondary" (click)="setEqNextRoomOver()">Next Room Over</button>
          <button class="btn btn-secondary" (click)="setEqCymbalsAndHiHats()">Cymbals & Hi-Hats</button>
        </div>

        <div *ngFor="let eq of eqSliders">
          <label
            for="equalizerRange_{{eq.frequency}}"
            class="equalizer-range-label"
          >
            {{eq.frequency}} Hz
          </label>
          <input
            id="equalizerRange_{{eq.frequency}}"
            type="range"
            name="equalizerRange{{eq.frequency}}"
            class="equalizer-range"
            min="-40"
            max="10"
            step="0.1"
            [(ngModel)]="eq.gain"
            (change)="setEqGain(eq)"
          />
          {{eq.gain}} dB
        </div>
      </div>
    </div>
  </form>
</div>
