.player {
  margin: 20px;
}

.player-rows > :not(:last-child) {
  margin-bottom: 20px;
}

.volume-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.volume-container > :not(:last-child) {
  margin-right: 10px;
}

.volume {
  background-color: lightgray;
}

.equalizer-presets {
  margin-bottom: 10px;
}

.equalizer-presets > :not(:last-child) {
  margin-right: 10px;
}

.equalizer-range {
  background-color: lightgray;
}

.equalizer-range-label {
  text-align: right;
  width: 75px;
  margin-right: 5px;
}
